---
import { Button } from '@/components/ui/button'
import { ArrowDown, ArrowRight } from 'lucide-react'
import RippleGrid from './../../ui/RippleGrid'
---

<div class="w-full h-full lg:pl-10 space-y-5">
  <div class="flex h-full items-center justify-between">
    <div class="flex items-start justify-between w-full flex-col lg:mt-0 mt-5 lg:p-5">
      <h1 class="text-lg lg:text-4xl font-bold to-start-animation">Hi, I’m Kira Aziz</h1>
      <p class="font-light text-sm text-foreground/60 to-start-animation">
        A Tunisian 🇹🇳 full-stack developer with a <span class="font-medium">Bachelor's degree in Computer Science</span> and 2.5 years of experience. I have over 55,000 total reads on
        <a href="https://dev.to/kiraaziz" class="text-primary hover:underline mx-1" target="_blank">dev.to</a>
        and create apps like
        <a href="https://light-ai.vercel.app/" class="text-primary hover:underline mx-1" target="_blank">Light AI ✨</a>,
        <a href="https://eyebase.vercel.app/" class="text-primary hover:underline mx-1" target="_blank">Eyebase 🎉</a>,
        <a href="/project/3" class="text-primary hover:underline mx-1" target="_blank">Type AI 🤖</a>, and
        <a href="/project/5" class="text-primary hover:underline mx-1" target="_blank">NeoFlow 🪢</a>.
        <br />
        I've also built enterprise apps from scratch and shipped features to products with 100k+ users! 🚀
      </p>
      <a href="/cv.pdf" target="_blank">
        <Button className="to-start-animation group bg-primary/10 rounded-full gap-3 mt-2 lg:mt-4 text-primary overflow-visible hover:text-black">
          Download cv
          <ArrowDown className="lg:group-hover:translate-y-2 ease-in-out duration-200" size="20" />
        </Button>
      </a>
    </div>
    <div class="flex items-end justify-end relative h-full to-start-animation">
      <img src="/image/avatarNo.png" class="w-72 hidden lg:block" />
      <img src="/image/avatarNo.png" class="absolute blur-lg -z-10 opacity-40" />
      <img src="/image/sin.svg" class="absolute bottom-0 translate-y-1/2" />
      <img src="/image/sin.svg" class="absolute bottom-0 blur translate-y-1/2" />
    </div>
  </div>

  <div class="to-start-animation relative col-span-full rounded-3xl border p-4 !border-primary/20 overflow-hidden bg-primary/5">
    <div class="hidden lg:flex absolute opacity-40 h-full w-full top-0 left-0 -z-10 overflow-hidden">
      <RippleGrid client:load enableRainbow={false} gridColor="#ffffff" rippleIntensity={0.3} gridSize={10} gridThickness={5} opacity={0.5} />
    </div>
    <span class="to-start-animation text-xs font-semibold rounded-full bg-primary/10 text-primary border !border-primary/20 px-3">New Announcement</span>
    <h2 class="to-start-animation text-lg font-bold">We’ve just launched our brand new blog—check it out!</h2>
    <p class="text-sm text-foreground/60 mt-1 font-light">Welcome to my digital playground—where I share my coding journey, creative projects, and lessons learned. Let’s explore and grow together!</p>
    <a href="https://blog.kiraaziz.club" target="_blank" rel="noopener">
      <Button className="to-start-animation mt-2 rounded-full bg-muted/20 flex items-center justify-center gap-1 hover:gap-3 ease-in-out duration-300 transition-all" variant="outline">
        Get Started
        <ArrowRight size={20} />
      </Button>
    </a>
  </div>
</div>
