<div class="w-full max-w-5xl mx-auto mt-14 lg:mt-24 mb-10 grid gap-3">
  <div class="col-span-full w-full items-center justify-center flex-col mx-auto max-w-2xl lg:text-center mb-2 to-start-animation">
    <h1 class="text-lg lg:text-3xl font-bold">My Design System</h1>
    <p class="text-foreground/60 max-w-2xl hidden lg:flex">
      I've been working on a design system for my side projects that makes the apps load quickly and efficiently from the start. I'm proud of the work I've done to optimize performance and resource
      usage.
    </p>
  </div>
  <div class="grid grid-cols-1 w-full mx-auto to-start-animation">
    <img src="/image/design-system.svg" class="w-full" />
  </div>
</div>
