---
import Layout from "../../layout/layout.astro";
import project from "@/lib/json/project.json";
import { useHalfText } from "../index.astro";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon";

const sortedProjects = [...project].sort((a: any, b: any) => {
    const priorityA = a.priority !== undefined ? a.priority : Infinity; // or a large number like 9999
    const priorityB = b.priority !== undefined ? b.priority : Infinity; // or a large number like 9999
    return priorityA - priorityB;
});
---

<Layout>
    <div
        class="w-full max-w-5xl mx-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:mt-10 gap-2 grid"
    >
        {
            sortedProjects.map((v: any, index) => (
                <div class="w-full border bg-card/40 rounded-lg overflow-hidden">
                    <img
                        src={v.images[0].replace("upload", "upload/w_400")}
                        class="h-40 border-b w-full object-cover bg-primary/20"
                    />
                    <div class="p-4 relative">
                        <div class="w-full flex items-center justify-center gap-2">
                            {v.logo && (
                                <img
                                    src={`/svg/${v.logo}`}
                                    class="h-5 mt-1"
                                />
                            )}
                            <h1 class="text-lg font-semibold">
                                {useHalfText(v.name, 20)}
                            </h1>
                            <div class="flex-1 flex items-center justify-end">
                                {v.url && (
                                    <a
                                        href={v.url}
                                        class="text-sm underline text-foreground/60 hover:text-foreground"
                                    >
                                        visite
                                    </a>
                                )}
                            </div>
                        </div>
                        <div class="flex gap-2 flex-wrap mb-2">
                            {v.tags &&
                                v.tags
                                    .split(" ")
                                    .splice(0, 3)
                                    .map((tag) => (
                                        <div class="hover:cursor-pointer text-xs text-secondary bg-secondary/5 px-2 rounded-full flex items-center justify-center my-auto h-max py-1">
                                            {tag}
                                        </div>
                                    ))}
                        </div>
                        <p class="text-sm font-light text-foreground/60 max-w-md">
                            {useHalfText(v.description, 60)}
                        </p>
                        <div class="w-full mt-3 flex items-center justify-between">
                            <a href={`/project/${index}`} class="w-full">
                                <Button
                                    variant="secondary"
                                    className="w-full text-primary bg-primary/10 hover:text-black ease-in-out duration-200 transition-all gap-2 lg:hover:gap-5"
                                >
                                    Read more
                                    <Icon name="lucide:arrow-right" size="20" />
                                </Button>
                            </a>
                        </div>
                        <img
                            src={v.images[0].replace("upload", "upload/w_400")}
                            class="-z-10 opacity-30 h-full border-b w-full object-cover  bg-primary absolute top-0 blur-3xl -translate-x-4"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</Layout>
