---
import { Icon } from "astro-icon";
const primar = [
    { name: "Next", icon: "logos:nextjs" },
    { name: "React", icon: "logos:react" },
    { name: "Prisma", icon: "simple-icons:prisma" },
    { name: "Tailwind", icon: "logos:tailwindcss-icon" },
    { name: "Postgresql", icon: "logos:postgresql" },
];
---

<div class="w-full mt-14 lg:mt-20">
    <div class="flex items-center justify-between w-full mt-5 lg:mt-10">
        <h1 class="text-xl font-bold">Current Tech Stack</h1>
    </div>
    <div class="w-full grid grid-cols-5 lg:flex flex-wrap gap-2 mt-3 ">
        {
            primar.map((p) => (
                <div class="flex items-center justify-center rounded-full ease-in-out duration-200 lg:hover:-translate-y-2 lg:hover:scale-110 lg:hover:cursor-pointer">
                    <div class="p-3 border flex items-center justify-center rounded bg-muted/30 backdrop-blur">
                        <Icon name={p.icon} size="35" fill="white" />
                    </div>
                </div>
            ))
        }
        <a
            class="flex-1 text-sm font-light text-foreground/60 gap-2 transition-all ease-in-out duration-200 lg:hover:gap-5 hidden lg:flex items-center justify-center lg:justify-end"
            href="/stack"
        >
            Read more
            <Icon name="lucide:arrow-right" size="20" />
        </a>
    </div>
</div>
