---
import { Button } from "@/components/ui/button";
import { projects } from "@/lib/data";
import { useHalfText } from "@/pages/index.astro";
import { ArrowRight, Lock } from "lucide-react";
---

<div class="w-full mt-14 lg:mt-20">
    <h1 class="text-xl font-bold">Experience</h1>
    <div class="w-full flex items-center justify-between mt-4">
        <h3
            class="text-foreground/70 flex items-center justify-center w-max gap-1 lg:text-base text-sm"
        >
            <div
                class="p-1 rounded h-max w-16 flex items-center justify-center"
            >
                <img class="filter invert" src="/image/capyxis.png" />
            </div> Capyxis Paris(remote)
        </h3>
        <p class="text-sm font-light text-foreground/60 hidden lg:block">
            June 2024-Nov 2024
        </p>
    </div>
    <div class="grid grid-cols-1 gap-2 mt-3 lg:px-5">
        <div
            class="bg-muted/30 h-32 text-foreground/60 gap-1 border w-full flex items-center p-3 justify-center flex-col rounded-md overflow-hidden relative"
        >
            <Lock size={20} />
            <p class="text-sm max-w-lg text-center">
                Unable to display the project due to intellectual property
                rights restrictions
            </p>
        </div>
    </div>
    <div class="w-full flex items-center justify-between mt-6">
        <h3
            class="text-foreground/70 flex items-center justify-center lg:text-base text-sm w-max gap-1"
        >
            <div class="p-1 rounded w-16 h-10 flex items-center justify-center">
                <img class="filter invert" src="/image/kombas.png" />
            </div> KombasNet Monastir(remote)
        </h3>
        <p class="text-sm font-light text-foreground/60 hidden lg:block">
            June 2023-June 2024
        </p>
    </div>
    <div class="grid grid-cols-1 gap-2 mt-3 lg:px-5">
        {
            projects.map(
                (p, index) =>
                    p.isWork && (
                        <div class="bg-muted/30  border w-full flex-col lg:flex-row flex rounded-md h-full overflow-hidden relative">
                            <div class="overflow-hidden flex items-center justify-center">
                                {p.images.map(
                                    (i, index) =>
                                        index === 0 && (
                                            <img
                                                src={i.replace(
                                                    "upload",
                                                    "upload/w_500",
                                                )}
                                                class=" w-96 h-full bg-background object-left-top object-cover"
                                            />
                                        ),
                                )}
                            </div>
                            <div class="">
                                <div class="px-5 pt-4 gap-1  flex w-max items-center justify-center">
                                    <h1 class="font-bold ">{p.name}</h1>
                                    <div class="max-w-full w-max flex flex-wrap gap-1">
                                        {p.tags
                                            .split(" ")
                                            .slice(0, 2)
                                            .map((t) => (
                                                <div class="w-max text-xs bg-muted px-2 py-0.5 rounded-full text-foreground/50 m-auto">
                                                    {t}
                                                </div>
                                            ))}
                                    </div>
                                </div>
                                <p class="text-sm px-5 mt-1 font-light text-foreground/70">
                                    {useHalfText(p.description, 85)}
                                </p>
                                <div class="w-full p-2 flex items-center justify-between gap-2" />
                                <div class="w-full flex items-center justify-end p-2">
                                    <a href={`/project/${index}`} class="lg:w-max w-full ">
                                        <Button
                                            variant="outline"
                                            className="lg:w-max w-full  overflow-hidden gap-2 border-none bg-primary/10 text-primary px-5 hover:gap-4 hover:text-primary hover:bg-primary/10 ease-in-out duration-200 transition-all"
                                        >
                                            Read more
                                            <ArrowRight size={18} />
                                        </Button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    ),
            )
        }
    </div>
</div>
