<div class="w-full">
    <h1 class="text-2xl font-bold mx-auto w-max mb-5">Pricing</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
        <div
            class="w-full bg-muted/10 rounded-lg shadow overflow-hidden"
        >
            <div class="w-full p-3 border-b bg-muted/20 text-center">
                <h1 class="font-bold">Basic</h1>
                <p class="font-light text-sm text-foreground/80">
                    static webiste
                </p>
            </div>
            <div class="p-4">
                <h1
                    class="mx-auto mb-3 font-bold w-max p-3 text-lg bg-muted/20 px-6 py-1 rounded-full"
                >
                    250$
                </h1>
                <ul
                    class="text- font-light text-foreground/70 flex items-center justify-center flex-col mb-3"
                >
                    <li class="text-sm font-light">showcase</li>
                    <li class="text-sm font-light">max 5 pages</li>
                    <li class="text-sm font-light">3 days of work</li>
                    <li class="text-sm font-light">20 day free fix</li>
                </ul>
            </div>
        </div>
        <div
            class="w-full bg-muted/10 rounded-lg shadow overflow-hidden lg:scale-110 lg:z-5 lg:backdrop-blur-lg order-2 lg:order-1"
        >
            <div class="w-full p-3 border-b bg-muted/40 text-center">
                <h1 class="font-bold">Custom</h1>
                <p class="font-light text-sm text-foreground/80">
                    software as service
                </p>
            </div>
            <div class="p-4">
                <h1
                    class="mx-auto mb-3 font-bold w-max p-3 text-lg bg-muted/40 text-bxackground px-6 py-1 rounded-full"
                >
                    from 4000$
                </h1>
                <ul
                    class="text- font-light text-foreground/70 flex items-center justify-center flex-col mb-3"
                >
                    <li class="text-sm font-light">saas</li>
                    <li class="text-sm font-light">ai intergration</li>
                    <li class="text-sm font-light">3 to 12 month of work</li>
                    <li class="text-sm font-light">1 year free fix</li>
                </ul>
            </div>
        </div>
        <div
            class="w-full bg-muted/10 rounded-lg shadow border-prbg-primary overflow-hidden order-1 lg:order-2"
        >
            <div class="w-full p-3 border-b bg-muted/20 text-center">
                <h1 class="font-bold">Pro</h1>
                <p class="font-light text-sm text-foreground/80">
                    dynamic webiste
                </p>
            </div>
            <div class="p-4">
                <h1
                    class="mx-auto mb-3 font-bold w-max p-3 text-lg bg-muted/20 text-bxackground px-6 py-1 rounded-full"
                >
                    from 750$
                </h1>
                <ul
                    class="text- font-light text-foreground/70 flex items-center justify-center flex-col mb-3"
                >
                    <li class="text-sm font-light">e-commerce</li>
                    <li class="text-sm font-light">managment system</li>
                    <li class="text-sm font-light">60 days of work</li>
                    <li class="text-sm font-light">90 day free fix</li>
                </ul>
            </div>
        </div>
    </div>
</div>