---
import { Button } from "@/components/ui/button";
import Layout from "../../layout/layout.astro";
import { useHalfText } from "../index.astro";
import demo from "./demo.json";
import Icon from "astro-icon";
---

<Layout>
    <div class="w-full mt-5 lg:mt-20 space-y-4 max-w-4xl mx-auto">
        {
            demo.map((v, index) => (
                <div class="w-full overflow-hidden border bg-card rounded-lg flex-col lg:flex-row flex">
                    <iframe
                        class="w-full h-52 lg:h-96 bg-primary/10"
                        src={v.demo}
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen
                    />
                    <div class="w-full lg:w-4/5 flex flex-col items-center justify-center lg:border-l">
                        <div class="w-full p-4 border-b">
                            <div class="w-full flex items-center justify-start gap-2">
                                {v.logo && (
                                    <img
                                        src={`/svg/${v.logo}.svg`}
                                        class="h-5 mt-1"
                                    />
                                )}
                                <h1 class="text-lg font-semibold">
                                    {useHalfText(v.name, 20)}
                                </h1>
                            </div>
                        </div>
                        <div class="w-full p-4 flex-1">
                            <div class="flex gap-2 flex-wrap mb-2 w-full">
                                {v.tags &&
                                    v.tags
                                        .split(" ")
                                        .splice(0, 3)
                                        .map((tag) => (
                                            <div class="hover:cursor-pointer text-xs text-secondary bg-secondary/5 px-2 rounded-full flex items-center justify-center my-auto h-max py-1">
                                                {tag}
                                            </div>
                                        ))}
                            </div>
                            <p class="text-sm font-light text-foreground/60 max-w-md">
                                {useHalfText(v.description, 150)}
                            </p>
                            <div class="h-5" />
                            <a href={v.url ? v.url : "#"} class="w-max ">
                                <Button
                                    disabled={!v.url}
                                    variant="secondary"
                                    className="text-primary bg-primary/10 hover:text-black ease-in-out duration-200 transition-all gap-2 lg:hover:gap-5"
                                >
                                    Visite
                                    <Icon name="lucide:arrow-right" size="20" />
                                </Button>
                            </a>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</Layout>
