@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

@layer base {
    :root {
        --radius: 0.5rem;
        --background: 229 41% 4%;
        --foreground: 229 23% 99%;
        --muted: 229 12% 14%;
        --muted-foreground: 229 10% 63%;
        --popover: 229 41% 5%;
        --popover-foreground: 0 0% 100%;
        --card: 229 41% 5%;
        --card-foreground: 0 0% 100%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --primary: 229 100% 62%;
        --primary-foreground: 0 0% 100%;
        --secondary: 63.4 100% 60.96%;
        --secondary-foreground: 225 40% 3.92%;
        --accent: 229 23% 17%;
        --accent-foreground: 229 23% 77%;
        --destructive: 3 89% 54%;
        --destructive-foreground: 0 0% 100%;
        --ring: 229 100% 62%;
    }
}

*{
    @apply !border-input
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #1f293700;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: hsl(229 100% 62%);
}

::-moz-scrollbar {
    width: 7px;
    height: 7px;
}

::-moz-scrollbar-track {
    background-color: #1f293700;
}

::-moz-scrollbar-thumb {
    border-radius: 100px;
    background-color: hsl(229 100% 62%);
}

::-ms-scrollbar {
    width: 7px;
    height: 7px;
}

::-ms-scrollbar-track {
    background-color: #1f293700;
}

::-ms-scrollbar-thumb {
    border-radius: 100px;
    background-color: #7c3aed;
}

.react-activity-calendar > *{
    @apply text-foreground/50
}
 