---
import SideBar, { ContactTools } from "@/components/SideBar";
const { pathname } = Astro.url;
import "./index.css";
import { Loader2 } from "lucide-react";

import project from "./../pages/project/project.json";
import PersistentVideo from "./PersistentVideo.astro";

const sortedProjects = [...project].sort((a: any, b: any) => {
  const priorityA = a.priority !== undefined ? a.priority : Infinity; // or a large number like 9999
  const priorityB = b.priority !== undefined ? b.priority : Infinity; // or a large number like 9999
  return priorityA - priorityB;
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="XrMtRnC_cvsvQFEGE5FMyzEZOuCtjfMyDScEvfJz6rU"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>
      Kira Aziz {pathname.split("/")[1] && ": " + pathname.split("/")[1]}
    </title>
  </head>
  <body class="bg-background text-foreground">
    <div class="flex h-[100svh] w-full flex-col">
      <PersistentVideo client:load /> 
      <SideBar
        client:load
        sortedProjects={sortedProjects}
        pathname={pathname}
      />
      <main
        class="flex h-[calc(100vh_-_4rem)] overflow-auto p-5 lg:p-10 flex-col"
      >
        <div
          class="flex items-center justify-center spinner h-[100svh] w-full bg-background fixed top-0 right-0 z-50"
        >
          <Loader2 className="text-primary animate-spin" />
        </div>
        <slot />
        <div class="w-full h-20"></div>
      </main>
    </div>
  </body>
</html>
