---
const videoSrc =
    "https://www.youtube.com/embed/AMYWaWYQp6I?autoplay=1&controls=0&mute=0&loop=1&playlist=AMYWaWYQp6I";
---

<div
    class="videoWrapper overflow-hidden hidden lg:flex absolute top-0 right-0 blur opacity-70 bg-transparent -z-50 w-full"
>
    <iframe
        class="h-full w-full"
        src={videoSrc}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
</div>
